@model BourbonWeb.Models.Sample

@{
    ViewData["Title"] = "サンプルデータ詳細";
}

<div class="card">
    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-11">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-11">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-11">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">編集</a>
        <a asp-action="Index" class="btn btn-secondary float-end">戻る</a>
    </div>
</div>