@model BourbonWeb.Models.Sample

@{
    ViewData["Title"] = "サンプルデータ詳細";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title mb-0">サンプルデータ詳細</h3>
    </div>
    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">編集</a>
        <a asp-action="Index" class="btn btn-link">戻る</a>
    </div>
</div>
