@model IEnumerable<BourbonWeb.Models.Sample>

@{
    ViewData["Title"] = "サンプルデータ一覧";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title mb-0">サンプルデータ一覧</h3>
        <a asp-action="Create" class="btn btn-primary">新規登録</a>
    </div>
    <div class="card-body p-0">
        <table class="table table-bordered mb-0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">編集</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">詳細</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">削除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
